@{
    ViewData["Title"] = "Health Information System";
}

<div class="text-center">
    <h1 class="display-4 mb-4">Health Information System</h1>
    
    <div class="list-group" style="max-width: 500px; margin: 0 auto;">
        <h3 class="mb-3">System Features</h3>
        
        <a href="/HealthPrograms/Create" class="list-group-item list-group-item-action">
            Create New Health Program
        </a>
        
        <a href="/Clients/Create" class="list-group-item list-group-item-action">
            Register New Client
        </a>
        
        <a href="/Clients" class="list-group-item list-group-item-action">
            Search Registered Clients
        </a>
    </div>
</div>
